[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/Harjeetdhaliwal
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Harjeetdhaliwal
	label-Verified = -1..+1 group user/Harjeetdhaliwal
	push = group user/Harjeetdhaliwal
	read = group user/Harjeetdhaliwal
	rebase = group user/Harjeetdhaliwal
	removeReviewer = group user/Harjeetdhaliwal
	submit = group user/Harjeetdhaliwal
[access "refs/heads/*"]
	create = group user/Harjeetdhaliwal
	push = +force group user/Harjeetdhaliwal
	pushMerge = group user/Harjeetdhaliwal
	read = group user/Harjeetdhaliwal
[access "refs/tags/*"]
	push = group user/Harjeetdhaliwal
	push = +force group user/Harjeetdhaliwal
